footer {
  .footer-newsletter {
    background: $color-gray3;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 146px;
    gap: 16px;
    @include mq(md, max) {
      height: auto;
      padding: 24px 0;
    }

    h4 {
      font-family: Lato;
      font-style: normal;
      font-weight: bold;
      font-size: 22px;
      line-height: 22px;
      @include mq(md, max) {
        padding: 0 15px;
      }
    }

    #newsletter {
      width: 100%;
      display: flex;
      justify-content: center;

      @include mq(md, max) {
        flex-direction: column;
      }

      .assinar-btn {
        background: $color-black;
        color: $color-white;
        border-radius: 5px;
        padding: 15px;
        width: 140px;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        cursor: pointer;
        @include mq(md, max) {
          margin: 15px auto;
          width: 300px;
        }
      }

      input {
        border: none;
        padding: 15px;
        border-radius: 5px;
        max-width: 248px;
        width: 100%;
        font-family: Lato;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        color: $color-gray4;

        @include mq(md, max) {
          margin: 15px auto;
          max-width: 270px;
        }
      }

      .nwl-email {
        margin: 0 8px;
        @include mq(md, max) {
          margin: 15px auto;
        }
      }
    }
  }
}
