$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-size: 1rem;
$line-height: 1.5;

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;900&display=swap");
$font-family: Nunito, sans-serif;

$color-gray: #7a7a7a;
$color-gray2: #c0c0c0;

$color-white: #fff;
$color-black: #000;
